.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.owl-carousel {
  max-width: 1800px;

  & .owl-stage {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .owl-dots {
    margin-bottom: 50px;
  }

  & .owl-item {
    & + .center {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.993);
    }

    &:hover {
      cursor: grabbing;
      opacity: 1;
      transition: 0.5s;
    }
  }
}

.item {
  position: relative;

  & > p {
    position: absolute;
    bottom: 10px;
    left: -10px;
    background-color: rgba(36, 36, 35, 0.897);
    color: rgb(230, 230, 230);
    z-index: 5;
    padding: 10px;
    box-shadow: 0 0 5px white;

    & > span {
      font-size: 70%;
      vertical-align: top;
      color: yellow;
      text-shadow: black;
    }
  }
}
