@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import 'base';
@import 'mixins';
@import 'components';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  max-width: 1800px;
  margin: 0 auto;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  margin: 0 auto;
  height: 100vh;

  & .person_block {
    display: flex;
    justify-content: center;
    align-items: center;

    & .title_info {
      display: flex;
      flex-direction: column;

      & .mail {
        font-size: 22px;
        letter-spacing: 7px;
        padding: 3px 6px;
        width: 350px;
        color: white;
        background-color: black;
      }
    }
  }

  & .my_img {
    filter: grayscale(0.9);
    margin: 15px;
    border-radius: 87.5px;
  }

  & #img_block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    & img {
      margin: 10px;
      max-width: 30vw;
      max-height: 400px;

      &:nth-of-type(2) {
        width: 550px;
        box-shadow: 0 0 14px rgba(0, 0, 0, 0.623);
      }
    }
  }
  & button {
    outline: none;
    border: none;
    background-color: white;
    font-size: 30px;
    margin: 20px;
    letter-spacing: 15px;
    padding: 10px;
    opacity: 0.5;
    &:hover {
      cursor: pointer;
      transition: 0.5s;
      transform: scale(1.01);
      opacity: 1;
    }
  }
}
main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 150px;
  margin: 0 auto;
  height: 1500px;
  & #skills {
    display: flex;
    width: 95%;
    justify-content: space-between;
    background: linear-gradient(rgba(8, 15, 26, 0.6) 0%, rgba(0, 0, 0, 0.9) 100%) 0% 0%,
      url(../assets/maxwell-nelson-Se9ufo2dO_g-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-weight: 400;
    & .artical_name {
      display: flex;
      flex: 1;
      justify-content: flex-start;
      align-items: center;
      margin: 15px;
      font-size: 55px;
    }
    & .skills_block {
      font-size: 40px;
      display: flex;
      flex-wrap: wrap;
      flex: 5;
      justify-content: center;
      align-items: flex-start;
    }
  }
}
